<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <title> Global Law Chambers | Homepage</title>
  </head>
  <body>
    
   
           
            <nav class="navbar navbar-expand-lg navbar-light  sticky-top ">
        <div class="container">
      <a class="navbar-brand" href="#"><img src="images/logo.jpg" class="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active text-uppercase">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item text-uppercase">
            <a class="nav-link" href="#about">about</a>
          </li>
          <li class="nav-item text-uppercase">
            <a class="nav-link" href="#services">services</a>
          </li>
          <li class="nav-item text-uppercase">
            <a class="nav-link" href="#attorney">attorneys</a>
          </li>
         
           
          </li>
          <li class="nav-item text-uppercase">
              <a class="nav-link" href="/requests">Messages</a>
            </li>
            
                
                  <li class="nav-item text-uppercase">
                    <a class="nav-link" href="#">Login</a>
                  </li>
                  
                      <li class="nav-item text-uppercase">
                          <a class="nav-link" href="#">Register</a>
                        </li>
         </ul>
      </div>
    
      
    </div>
    </nav>

    <section id="home">
   
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-8 mt-5 ">
                  <h1 class="display-4 fw-boldermb-4 text-center">Global Law Chambers</h1>
                  <h3 class="display-8 text-center">Get an attorney who will fight for your rights</h3>
                  <a href="/requests/new" class="rounded-pill text-capitalize ">Free Consultation</a>
                  
                  </div>
                 
                </section>
                 
                  
                      
                  
          </div>
      </div>
  
        
   

   
    <section class="welcome" id="about"> 
    <div class="container padding">
        

           <div class="row no-gutters  ">
            <div class="col-md-6 mb-md-0 p-md-4">
              <img src="images/glc.jpg" class="img-fluid shadow p-3 mb-5 bg-white rounded"> 
            </div>
            <div class="col-md-6 position-static p-4 pl-md-0">
              <h2 class="mt-0 text-capitalize">  who we are</h2>
              
              <p >Global Law Chambers Ltd is a well-established, medium-size business law firm. 
                  We offer a full range of corporate and commercial legal services, including but not limited 
                  to dispute resolution, litigation, employment, finance, company restructuring and tax. We also
                   work with non-profit organizations who may need legal services, especially in human rights related cases. 
                 </p>
                 <a href="#about" class=" rounded-pill text-capitalize "  role="button">more about us</a>
            </div>
          </div>

       
      </div>
    </section>
    
    <section class="practices" id="services">
     
           <h2 class="text-center text-capitalize">Experience & Practices </h2>
           <hr>
           
     
     
      <div class="container padding ">
        <div class="row padding">
          <div class="col-md-3">
              <div class="card shadow p-3 mb-5 bg-white rounded" >
                  <img src="images/insurance.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-text text-center">Insurance Laws</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-3 ">
                  <div class="card shadow p-3 mb-5 bg-white rounded" >
                      <img src="images/dispute.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-text text-center">Dispute Resolution</h5>
                      </div>
                    </div>
                  </div>
                  
                      <div class="col-md-3">
                          <div class="card shadow p-3 mb-5 bg-white rounded" >
                              <img src="images/Arrest.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-text text-center">Criminal Laws</h5>
                              </div>
                            </div>
                          </div>

             
                 
                       
                          <div class="col-md-3">
                              <div class="card shadow p-3 mb-5 bg-white rounded" >
                                  <img src="images/team.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-text text-center">Labour Laws</h5>
                                  </div>
                                </div>
                              </div> 
                              <div class="col-md-3">
                                  <div class="card shadow p-3 mb-5 bg-white rounded " >
                                      <img src="images/Gaming.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-text text-center">Gaming <br> Laws</h5>
                                    
                                      </div>
                                    </div>
                                 </div>
                             
                              
                                  <div class="col-md-3">
                                      <div class="card shadow p-3 mb-5 bg-white rounded" >
                                          <img src="images/capital.png" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            <h5 class="card-text  text-center">Government Relations</h5>
                                          </div>
                                        </div>
                                      </div>
                                     
    
                                          <div class="col-md-3 ">
                                              <div class="card  shadow p-3 mb-5 bg-white rounded">
                                                  <img src="images/contract.png" class="card-img-top" alt="...">
                                                  <div class="card-body">
                                                    <h5 class="card-text text-center">Agreements & Contract </h5>
                                                
                                                  </div>
                                                </div>
                                             </div> 
                                             <div class="col-md-3">
                                                <div class="card shadow p-3 mb-5 bg-white rounded" >
                                                    <img src="images/litigation.png" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                      <h5 class="card-text text-center">Legal Representation</h5>
                                                    </div>
                                                  </div>
                                                </div></div>
</div>



  </section>

      <section class="members" id="attorney">
          <div class="container padding">
             
          <h2 class="text-center text-capitalize">our attorneys</h2>
          <hr>
         
     </div>
    
    
     <div class="container padding">
       <div class="row padding">
         <div class="col-md-3">
      <div class="card shadow p-3 mb-5 bg-white rounded" >
      <img src="images/claude.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Jean Claude Rwibasira</h4>
        <h5 class="card-subtitle">Manager Partner</h5>
        <br>
        <a href="#" class="rounded-pill text-capitalize">view profile</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow p-3 mb-5 bg-white rounded" >
      <img src="images/provy.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Providence Ingabire</h4>
        <h5 class="card-subtitle">Partner</h5>
        <br>
        <a href="#" class="rounded-pill text-capitalize">view profile</a>
      </div>
    </div>
  </div>
    
    <div class="col-md-3">
    <div class="card shadow p-3 mb-5 bg-white rounded" >
      <img src="images/vivi.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Jean Vianney Mwumvira</h4>
        <h5 class="card-subtitle">Collaborator</h5>
       <br>
        <a href="#" class="rounded-pill text-capitalize">view profile</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
      <div class="card shadow p-3 mb-5 bg-white rounded" >
        <img src="images/maya.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Maja <br> Pecanac</h4>
          <h5 class="card-subtitle">Collaborator</h5>
         <br>
          <a href="#" class="rounded-pill text-capitalize">view profile</a>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  

<section class="partner">
<div class="container padding ">
  <h2 class="text-center text-capitalize">Existing Client Base</h2>
  <hr>
  <div class="row padding">
    <div class="col-md-2"></div>
    <div class="col-md-10">
  <img src="images/Universal.png" class="shadow p-3 mb-5 bg-white rounded">
  <img src="images/baron.jpg" class="shadow p-3 mb-5 bg-white rounded">
  <img src="images/bonanza.jpg" class="shadow p-3 mb-5 bg-white rounded">
  <img src="images/investment.jpg" class="shadow p-3 mb-5 bg-white rounded">
<img src="images/gsv.jpg" class="shadow p-3 mb-5 bg-white rounded">
</div>

</div>
</div>

</section>

    <footer>

    <div class="container padding">
      <div class="row padding">
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <hr >
          <p><i class="fa fa-map-marker"></i>  KN 20 Ave,Kigali Rwanda </p>
          <p><i class="fa fa-phone"> </i>  +250788827458/+250788716275</p>
          <p><i class="fa fa-envelope"></i> info@globalawchambers.com</p>
          <hr >
         <P>
          
             <a href=""><i class="fa fa-facebook"></i>  </a>
          <a href=""><i class="fa fa-linkedin"></i></a>
          <a href=""> <i class="fa fa-twitter"></i></a>
          
          
          
          
        </P>
        </div>
        <div class="col-md-4">
            <h5>Open Time</h5>
            <hr >
            <p>Opening days:</p>
            <p>Monday-Friday:8am-6pm</p>
           
          </div>
          <div class="col-md-4">
              <h5>Client Services </h5>
              <hr >
             <ul>
               <li>Corporate and commercial legal Services</li>
               <li>Criminal Law and criminology</li>
              <li>Non-Governmental Organisations</li>
             </ul> 
             </div>
             <div class="col-12 text-center">
               <hr class="light">
               <p> &copy; Global Law Chambers-All Right Reserved</p>
             </div>
      </div>
    </div>
  </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
  </body>
</html>
