
#home{
    background-color: #eae7dc;
    min-height: 300px;
}
#home a{
    text-decoration: none;
    background-color: #6C5B7B;
    color: #F7F7F7;
    padding: 7px 25px 10px ;
}
.attorneys img{
    width:250px;
    height:300px;}
    .card-body a{

        background-color: #6C5B7B;
        color: #F7F7F7;
        padding: 7px 25px 10px ;
        text-decoration: none;
        
        
    }
    .card-title{
        color:#6C5B7B;
    }
   
    
    #attorneys img{
        width:220px;
        height:280px;
    }
    #attorneys .fa-envelope{
        font-size: 1.5rem;  
    color: #6C5B7B;
    }
    .navbar img{
        width: 3%;
    }

    #footer{
        padding: 10px;
        background-color:#6C5B7B;
        color: #F7F7F7;
    }
    